.playersDiv {
  max-height: 340px;
  overflow-y: scroll;
}

.playerDiv {
  padding: 10px 0;
}

.playerDiv,
.avatarDiv {
  display: flex;
  align-items: center;
}

.rankDiv {
  margin-right: 10px;
}

.nameAndScoreDiv {
  display: flex;
  flex-direction: column;
}
